.looper-manager .loopers {
    border: 1px dashed $col-secondary;
    padding: $components-margin $components-margin/1.5;    
    padding-bottom: $components-margin/2;    
    margin-bottom: $components-margin;
}
