.looper {
    position: relative;
}

.looper .title {
    position: absolute;
    display: block;
    font-size: 0.8em;
    color: $col-secondary;
    text-transform: uppercase;
    padding: 0 $padding/2;
    background: rgb(53, 53, 53);
    left: 0px;
    top: 1em; 
    box-shadow: $shadow-color -1px 1px 5px; 
    z-index: 10;
}

.looper .status {
    border-radius: $border-radius;
    font-weight: bold;
    // color: #fff;
}

.looper .btn-trigger {
    border-radius: 50%;
    font-size: 0.8em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: $shadow-color -1px 2px 5px;
    margin-top: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $components-margin;
}

.looper .btn-trigger.wait {
    background-color: #777777;
    color: #353535;
}

.looper .status {
    display: inline-block;
    font-size: 0.6em;
    padding: 0 $padding/2;
}

.looper .status.recording {
    background-color: #d12b2b;
    box-shadow: #e43c3c 0 0 10px;
    color: #fff;
}

.looper .status.playing {
    background-color: #31a726;
    box-shadow: #46c93b 0 0 10px;
    color: #fff;
}

.looper .track-info {
    position: absolute;
    bottom: 0em;
    right: 1em;
    font-size: 0.8em;
}
