.metronome .tempo-value {
    font-size: 1.8em;
}

.metronome .indicator {
    border-radius: 50%;
    // padding: $padding/1;
    width: 2em;
    height: 2em;
    line-height: 2em;
    display: inline-block;
    text-align: center;
    background-color: #0f0f0f;
    // transition: background-color 50ms linear;
}

.metronome .indicator.start {
    background-color: #b63232;
    color: white;
}

.metronome .indicator.beat {
    background-color: #757575;
    // color: white;
}

.metronome .tempo .lbl {
    transform: rotate(-90deg);
}

.metronome .beats .lbl {
    line-height: 1em;
}

.metronome .editable {
    font-size: 0.8em;
    display: inline-block;
    text-align: center;
    min-width: 2em;
    border-bottom: 1px dotted $col-secondary;
    cursor: pointer;
}

.metronome .editable:hover {
    border-bottom: 1px solid $col-primary;
}